@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--light-background);
    --surface: var(--light-surface);
    --text: var(--light-text);
    --border: var(--light-border);
  }

  :root.dark {
    --background: var(--dark-background);
    --surface: var(--dark-surface);
    --text: var(--dark-text);
    --border: var(--dark-border);
  }

  body {
    @apply bg-white dark:bg-dark-400 text-gray-900 dark:text-gray-100;
  }
}
